../../.bash_history
../../.bash_logout
../../.bashrc
../../.cache/
../../.config/
../../.docker/
../../.dotnet/
../../.gitconfig
../../.gnupg/
../../.java/
../../.lesshst
../../.local/
../../.pam_environment
../../.pki/
../../.profile
../../.python_history
../../.ssh/
../../.sudo_as_admin_successful
../../.swp
../../.viminfo
../../.vscode/
../../.wget-hsts
../../DataGripProjects/
../../Resimler/
../../snap/
../../google-chrome-stable_current_amd64.deb
../../google-chrome-stable_current_amd64.deb.1
../../nano.44168.save
../../r
../../enter
"../../İndirilenler/"
"../../Загрузки/"
"../../Изображения/"
"../../Рабочий стол/"
,,/..user.py

