{% extends "loyout.html" %}

{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset class="form-group">
            {% if session.get('theme') == 'dark' %}
                <legend style="color: azure;">Add Todo</legend>
                <div class="form-group" style="color: aliceblue;">
            {%else%}
                <legend>Add Todo</legend>
                <div class="form-group">
            {%endif%}
                    {{ form.name.label(class="form-control-label", style="backround  color:black") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control is-invalid {% if theme == 'dark' %}theme-dark{% else %}theme-light{% endif %}") }}
                        {% for error in form.name.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.name(class="form-control {% if theme == 'dark' %}theme-dark{% else %}theme-light{% endif %}") }}
                    {% endif %}
                </div>
        
                {% if session.get('theme') == 'dark' %}
                    <div class="form-group" style="color: aliceblue;">
                {%else%}
                    <div class="form-group">
                {%endif%}
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control is-invalid {% if theme == 'dark' %}theme-dark{% else %}theme-light{% endif %}") }}
                        {% for error in form.description.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.description(class="form-control {% if theme == 'dark' %}theme-dark{% else %}theme-light{% endif %}") }}
                    {% endif %}
                </div>
        
                {% if session.get('theme') == 'dark' %}
                    <div class="form-group" style="color: aliceblue;">
                {%else%}
                    <div class="form-group">
                {%endif%}
                    {{ form.completed.label(class="form-control-label") }}
                    {% if form.completed.errors %}
                        {{ form.completed(class="form-control is-invalid {% if theme == 'dark' %}theme-dark{% else %}theme-light{% endif %}") }}
                        {% for error in form.completed.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.completed(class="form-control {% if theme == 'dark' %}theme-dark{% else %}theme-light{% endif %}") }}
                    {% endif %}
                </div>
            </fieldset>
        
            <div class="form-group" style="margin-top: 20px;">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}

