{% extends "settings.html" %}

{% block content %}
        <strong>Are you sure you want to log out?</strong>
        <div style="display: flex; justify-content: center; margin-top: 20px;">
            <form method="POST" style="margin-right: 10px;">
                <button type="submit" class="btn btn-danger">Yes</button>
            </form> 
            <a href="{{ url_for('home') }}">
                <button type="submit" class="btn btn-danger"> No</button>
            </a>
        </div>
{% endblock %}



